#hero-image {
    display: flex;
    justify-content: center;
}

/*  display: flex; turns the container into a layout system.
    Normally, divs stack by default. With flex, you gain control of alignment. */
#featured-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px;
}

#row1, #row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}